.menu-access {
    .row {
        border-bottom: 1px solid #91a0ff77;
        padding: 8px 0;
    }
    input[type="checkbox"] {
        width: 18px;
        height: 18px;
        border: 1px solid #ccc !important;
    }
}